@use 'function';
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 1920px;
    box-sizing: border-box;
    background-color: #FFF5EC;
    border: 2px tomato solid;
    @media only screen and (max-width: 1195px) {
        width: 1195px;
    }
    @media only screen and (max-width: 554px) {
        width: 554px;
    }
}

$primary-color: #35CD8C;
// $background-color: #FFF5EC;
$h3-color:#2E266F;
%box1 {
    width: function.rem(639);
    height: function.rem(636);
    border-radius: function.rem(20);
    margin-top: function.rem(260);
}

%box2 {
    width: 390px;
    height: 380px;
}

%box3 {
    width: 530px;
    height: 403px;
}

@media only screen and (max-width: 1195px) {}

@media only screen and (max-width: 554px) {}