@use 'base';
@use 'function';
.booking_box {
    height: 1090px;
    background-color: #FFEDDE;
    position: relative;
    &__bg {
        .img1 {
            // width: 1010px;
            // height: 1557px;
            position: absolute;
            top: -283px;
            left: 0;
            z-index: 2;
        }
        .img2 {
            // width: 610px;
            // height: 620px;
            position: absolute;
            top: 221px;
            right: 0px;
            z-index: 3;
        }
        .img3 {
            position: absolute;
            top: 265px;
            right: 350px;
        }
        .img4 {
            position: absolute;
            top: 59px;
            right: 487px;
            transform: rotate(90deg);
        }
        .img5 {
            position: absolute;
            bottom: 73px;
            left: 505px;
            transform: rotate(90deg);
        }
    }
    &__content {
        width: 1230px;
        height: 560px;
        background-color: #FFFFFF;
        position: absolute;
        top: 265px;
        left: 275px;
        z-index: 1;
        padding: 100px 270px 100px 410px;
        .booking_box__in {
            // margin: 0px 0px 0px 413px;
            text-align: center;
            // border: 2px tomato solid;
            // width: 1230px;
            // height: 560px;
            // padding: 100px;
            h3 {
                font-size: 36px;
                line-height: 24px;
                font-weight: 500;
                font-style: normal;
                color: #2E266F;
                margin: 60px 0;
            }
            .booking_box__content__time {
                display: flex;
                justify-content: space-around;
                margin-top: 60px;
                .drop-donw {
                    font-size: 16px;
                    line-height: 30px;
                    label {
                        font-size: 16px;
                        line-height: 30px;
                        color: #2E266F;
                    }
                    i {
                        margin-left: 2px;
                        color: #35CD8C;
                        width: 10px;
                        height: 7px;
                    }
                    p {
                        color: #2E266F;
                    }
                }
            }
        }
        &__search {
            width: 544px;
            height: 90px;
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            #box_search {
                padding: 14px;
                width: 100%;
                height: 90px;
                font-size: 16px;
                border: none;
                box-shadow: 2px 2px 30px 2px #FFF5EC;
                // margin-left: 150px;
            }
            #btn {
                width: 128px;
                height: 62px;
                background-color: base.$primary-color;
                color: #FFFFFF;
                font-size: 30px;
                border: none;
                position: absolute;
                right: 0;
            }
        }
    }
}