@use 'base';
@use 'function';
.booking_box {
    height: 1090px;
    background-color: #FFEDDE;
    position: relative;
    // border: 2px rgb(76, 105, 201) solid;
    @media only screen and (max-width: 1195px) {
        height: 742px;
    }
    @media only screen and (max-width: 554px) {
        height: 502px;
    }
    &__bg {
        .img1 {
            // width: 1010px;
            // height: 1557px;
            position: absolute;
            top: -283px;
            left: 0;
            z-index: 2;
            // background-image: url("../img/booking_box/—Pngtree—lettuce_1175257\ 2.png");
            // background-size: cover;
            @media only screen and (max-width: 1195px) {
                img {
                    width: 447px;
                    top: -170px;
                }
                top: -170px;
            }
            @media only screen and (max-width: 554px) {
                top: -150px;
                left: -20%;
                img {
                    width: 320px;
                }
            }
        }
        .img2 {
            // width: 610px;
            // height: 620px;
            position: absolute;
            top: 221px;
            right: 0px;
            z-index: 3;
            @media only screen and (max-width: 1195px) {
                img {
                    width: 235px;
                }
            }
            @media only screen and (max-width: 554px) {
                img {
                    width: 135px;
                }
            }
        }
        .img3 {
            position: absolute;
            top: 265px;
            right: 350px;
            @media only screen and (max-width: 1195px) {
                top: 208px;
                right: 150px;
            }
            @media only screen and (max-width: 554px) {
                top: 207px;
                right: 45px;
                img {
                    width: 35px;
                }
            }
        }
        .img4 {
            position: absolute;
            top: 59px;
            right: 487px;
            transform: rotate(90deg);
            @media only screen and (max-width: 1195px) {
                top: 0px;
                right: 285px;
            }
            @media only screen and (max-width: 554px) {
                top: 60px;
                right: 140px;
                img {
                    width: 35px;
                }
            }
        }
        .img5 {
            position: absolute;
            bottom: 73px;
            left: 505px;
            transform: rotate(90deg);
            @media only screen and (max-width: 1195px) {
                bottom: -70px;
                left: 160px;
            }
            @media only screen and (max-width: 554px) {
                img {
                    width: 35px;
                }
            }
        }
    }
    &__content {
        width: 1230px;
        height: 560px;
        background-color: #FFFFFF;
        position: absolute;
        top: 265px;
        left: 275px;
        z-index: 1;
        padding: 100px 270px 100px 410px;
        @media only screen and (max-width: 1195px) {
            width: 971px;
            height: 417px;
            top: 199px;
            left: 0px;
            // padding: 40px 270px 100px 410px;
            padding: 40px 72px 30px 375px;
        }
        @media only screen and (max-width: 554px) {
            width: 458px;
            height: 333px;
            top: 85px;
            padding: 0;
        }
        .booking_box__in {
            text-align: center;
            .content_img {
                @media only screen and (max-width: 554px) {
                    img {
                        width: 125px;
                    }
                }
            }
            h3 {
                font-size: 36px;
                line-height: 24px;
                font-weight: 500;
                font-style: normal;
                color: #2E266F;
                margin: 60px 0;
                @media only screen and (max-width: 1195px) {
                    margin: 30px 0 60px 0;
                }
                @media only screen and (max-width: 554px) {
                    font-size: 24px;
                    margin: 20px 0 45px 0;
                }
            }
            .booking_box__content__time {
                display: flex;
                justify-content: space-around;
                margin-top: 60px;
                @media only screen and (max-width: 1195px) {}
                @media only screen and (max-width: 554px) {
                    margin-top: 60px;
                    padding: 25px;
                    margin-left: 120px;
                }
                .drop-donw {
                    font-size: 16px;
                    line-height: 30px;
                    label {
                        font-size: 16px;
                        line-height: 30px;
                        color: #2E266F;
                    }
                    i {
                        margin-left: 2px;
                        color: #35CD8C;
                        width: 10px;
                        height: 7px;
                    }
                    p {
                        color: #2E266F;
                    }
                }
            }
        }
        &__search {
            width: 544px;
            height: 90px;
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            @media only screen and (max-width: 1195px) {
                width: 470px;
            }
            @media only screen and (max-width: 554px) {
                width: 273px;
                height: 51px;
                left: 140px;
            }
            #box_search {
                padding: 14px;
                width: 100%;
                height: 90px;
                font-size: 16px;
                border: none;
                box-shadow: 2px 2px 30px 2px #FFF5EC;
                @media only screen and (max-width: 554px) {
                    font-size: 14px;
                }
                // margin-left: 150px;
            }
            #btn {
                width: 128px;
                height: 62px;
                background-color: base.$primary-color;
                color: #FFFFFF;
                font-size: 30px;
                border: none;
                position: absolute;
                right: 0;
                @media only screen and (max-width: 1195px) {}
                @media only screen and (max-width: 554px) {
                    width: 80px;
                    height: 40px;
                    font-size: 20px;
                }
            }
        }
    }
}