@use 'base';
@use 'function';
.download_app {
    background-color: #FFEDDE;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        position: relative;
        margin-top: 20%;
        padding-left: 50px;
        .img {
            position: absolute;
            left: 0px;
        }
        .h3 {
            color: #2E266F;
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 62px;
            width: 475px;
            height: 122px;
        }
        .p {
            font-size: 14px;
            line-height: 24px;
            color: #707070;
            width: 449px;
            height: 71px;
            margin: 30px 0 30px 0;
        }
        .img1 {
            display: flex;
            flex-direction: row;
            align-self: self;
            img {}
            &_1 {
                margin: 0 15px 0 0px;
            }
            &_2 {
                margin: 0 15px 0 25px;
            }
        }
    }
    &__right {
        padding: 77px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .mobile {
            z-index: 2;
        }
        .veget {
            z-index: 1;
            position: absolute;
            top: 25%;
            left: -75%;
        }
    }
}