    @use 'base';
    @use 'function';
    // @media only screen and (max-width: 1195px) {}
    // @media only screen and (max-width: 554px) {}
    .explore_our_foods {
        border: 2px violet solid;
        text-align: center;
        height: 1530px;
        @media only screen and (max-width: 1195px) {
            height: function.rem(2000);
        }
        @media only screen and (max-width: 554px) {
            height: 233rem;
        }
        .explore__head {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: function.rem(150);
            &__h3 {
                color: #2E266F;
                font-style: normal;
                font-weight: 500;
                font-size: 48px;
                line-height: 62px;
            }
            &__p {
                width: 609px;
                height: 65px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                margin-top: 2%;
            }
            @media only screen and (max-width: 1195px) {
                margin-top: function.rem(100);
            }
            @media only screen and (max-width: 554px) {
                p {
                    width: 85%;
                    margin-left: 7%;
                }
            }
        }
        .explore__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            // align-content: space-around;
            // margin-top: 60px;
            margin-left: 100px;
            @media only screen and (max-width: 1195px) {
                margin-left: 1%;
            }
            @media only screen and (max-width: 554px) {
                flex-direction: column;
                margin-left: 1.5%;
            }
            .bag {
                background-color: #FFFFFF;
                border-radius: 20px;
                width: 530px;
                height: 552px;
                position: relative;
                text-align: left;
                margin-top: 3%;
                margin-left: 1%;
                @media only screen and (max-width: 1195px) {
                    width: 45%;
                    margin-top: 2%;
                    margin-left: 2%;
                }
                @media only screen and (max-width: 554px) {
                    width: 95%;
                    margin-top: 5%;
                    img {
                        width: 96.5%;
                    }
                }
                h3 {
                    color: #2E266F;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 32px;
                    margin-top: 30px;
                    margin-bottom: 20px;
                    margin-left: 20px;
                }
                p {
                    width: 289px;
                    height: 44px;
                    color: #707070;
                    margin-left: 20px;
                    @media only screen and (max-width: 1195px) {}
                    @media only screen and (max-width: 554px) {
                        width: 50%;
                    }
                }
                label {
                    color: base.$primary-color;
                    font-size: 24px;
                    line-height: 32px;
                    position: absolute;
                    bottom: 85px;
                    right: 0px;
                }
            }
            .food1 {
                @extend %box3;
                // background-image: url("../img/explore_our_foods/Rectangle\ 22.png");
            }
            .food2 {
                @extend %box3;
                // background-image: url("../img/explore_our_foods/Rectangle\ 23.png");
            }
            .food3 {
                @extend %box3;
                // background-image: url("../img/explore_our_foods/Rectangle23.png");
            }
            .food4 {
                @extend %box3;
                // background-image: url("../img/explore_our_foods/Rectangle24.png");
            }
            .food5 {
                @extend %box3;
                // background-image: url("../img/explore_our_foods/Rectangle25.png");
            }
            .food6 {
                @extend %box3;
                // background-image: url("../img/explore_our_foods/Rectangle26.png");
            }
        }
    }