header {
    /* border: 2px solid rgb(230, 11, 29); */
    width: 100%;
    height: 1048px;
    position: relative;
    font-family: Poppins;
    background-color: #FFF5EC;
    .logo {
        cursor: pointer;
        width: 245px;
        height: 108px;
        margin-left: 5%;
        img {
            object-fit: fill;
        }
    }
    nav {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        width: 490px;
        height: 25px;
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 7%;
        /* width: 20%; */
        margin-left: 30%;
        color: #2E266F;
    }
    .slider {
        &__right {
            width: 25%;
            height: 1210px;
            background-color: #35CD8C;
            background-size: cover;
            position: absolute;
            top: 0;
            right: 0;
            .user {
                cursor: pointer;
                width: 120px;
                height: 52px;
                position: absolute;
                top: 5%;
                right: 5%;
                display: flex;
                img {
                    width: 43%;
                    object-fit: cover;
                }
                #user--rolate {
                    transform: rotate(90deg);
                    font-weight: bold;
                    margin-top: 0;
                }
                p {
                    margin-top: 15px;
                }
            }
            .vector {
                width: 200px;
                position: absolute;
                bottom: 15%;
                right: 25%;
                display: flex;
                justify-content: space-between;
                &__left {
                    border: white 2px solid;
                    width: 45px;
                    height: 45px;
                    border-radius: 50px;
                }
                &__right {
                    border: white 2px solid;
                    width: 45px;
                    height: 45px;
                    border-radius: 50px;
                }
                i {
                    font-size: 30px;
                    color: white;
                    margin: 8px;
                }
            }
        }
        &__left {
            width: 75%;
            &__text {
                background-color: white;
                h1 {
                    width: 506px;
                    height: 179px;
                    font-size: 200px;
                    font-weight: 900px;
                    position: absolute;
                    top: 15%;
                    left: 5%;
                    opacity: 0.05;
                }
                h2 {
                    width: 757px;
                    height: 157px;
                    font-size: 72px;
                    font-weight: bold;
                    margin: 0;
                    color: #2E266F;
                    position: absolute;
                    top: 45%;
                    left: 5%;
                }
                &__input {
                    background-color: white;
                    width: 620px;
                    height: 70px;
                    display: flex;
                    position: absolute;
                    top: 60%;
                    left: 4%;
                    margin-top: 2%;
                    #txt {
                        width: 70%;
                        padding: 3%;
                        border: none;
                    }
                    #btn {
                        cursor: pointer;
                        width: 30%;
                        background-color: #35CD8C;
                        border: none;
                        border-radius: 60px 0 0 0;
                    }
                }
                .gps {
                    cursor: pointer;
                    width: 280px;
                    height: 65px;
                    border: white 1px solid;
                    border-radius: 0 100px 100px 0;
                    color: white;
                    background-color: #35CD8C;
                    text-align: center;
                    position: absolute;
                    bottom: 5%;
                    left: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    i {
                        font-size: 30px;
                        margin-top: 10px;
                    }
                    p {
                        font-size: 30px;
                        margin: 0;
                        align-self: center;
                        margin-left: -50px;
                    }
                }
            }
        }
        &__bet {
            border: tomato 2px;
            display: flex;
            flex-direction: column;
            width: 878px;
            height: 870px;
            &__bg1 {
                width: 430px;
                height: 354px;
                position: absolute;
                top: 18%;
                right: 26%;
                z-index: 1;
            }
            &__bg2 {
                width: 430px;
                height: 354px;
                position: absolute;
                top: 54%;
                right: 26%;
                z-index: 1;
            }
            &__lettuce {
                width: 584px;
                height: 900px;
                z-index: 2;
                position: absolute;
                top: 0%;
                right: 8%;
            }
            &__food {
                z-index: 3;
                width: 878px;
                height: 870px;
                position: absolute;
                top: 15%;
                right: 4%;
            }
        }
    }
}