@use 'base';
@use 'function';
.our_services {
    border: 2px rgb(33, 189, 116) solid;
    height: 1370px;
    @media only screen and (max-width: 1195px) {
        height: 1100px;
    }
    @media only screen and (max-width: 554px) {
        height: 1426px;
        position: relative;
    }
    &__text {
        height: 150px;
        margin-top: 167px;
        margin-bottom: 150px;
        // border: 2px tomato solid;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @media only screen and (max-width: 1195px) {}
        @media only screen and (max-width: 554px) {
            margin-top: 55px;
            margin-bottom: 175px;
        }
        img {
            margin-left: 135px;
            margin-right: 30px;
            @media only screen and (max-width: 1195px) {
                margin-left: 30px;
            }
            @media only screen and (max-width: 554px) {
                // display: none;
                position: relative;
                top: 0;
                left: 0;
            }
        }
        &__h3 {
            margin-right: 201px;
            h3 {
                font-style: normal;
                font-weight: 500;
                font-size: 48px;
                line-height: 62px;
                color: #2E266F;
                @media only screen and (max-width: 1195px) {}
                @media only screen and (max-width: 554px) {
                    font-size: 36px;
                    width: 190px;
                }
            }
        }
        &__p {
            // width: 609px;
            // height: 141px;
            margin-top: 2%;
            p {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                color: #707070;
                width: 500px;
            }
            @media only screen and (max-width: 1195px) {
                margin-top: 4%;
                p {
                    width: 530px;
                    height: 141px;
                }
            }
            @media only screen and (max-width: 554px) {
                position: relative;
                top: 110px;
                left: -390px;
                p {
                    width: 430px;
                    height: 141px;
                }
            }
        }
        ;
    }
    &__content {
        height: 890px;
        // border: 2px tomato solid;
        background-image: url("../img/ourservices/Group.png");
        background-size: auto;
        background-position-x: left;
        padding: 97px 135px 90px 134px;
        @media only screen and (max-width: 1195px) {
            padding: 15px;
            height: 620px;
        }
        @media only screen and (max-width: 554px) {
            background-image: unset;
        }
        &__bg {
            text-align: center;
            display: grid;
            grid-gap: 4%;
            grid-template-columns: 25% 25% 40%;
            grid-template-rows: auto;
            grid-template-areas: "table1 ad_booking table3" "fff table2 table3";
            @media only screen and (max-width: 1195px) {}
            @media only screen and (max-width: 554px) {
                grid-gap: 5%;
                grid-template-columns: 45% 45%;
                grid-template-rows: auto;
                grid-template-areas: "table1 ad_booking" "fff table2" "table3 table3";
            }
            .table1 {
                @extend %box2;
                grid-area: table1;
                background-color: #FFEDDE;
                padding: 90px;
                @media only screen and (max-width: 1195px) {
                    padding: 60px 40px 40px 40px;
                    img {
                        width: 150px;
                    }
                }
                @media only screen and (max-width: 554px) {
                    padding: 50px 40px 40px 40px;
                    margin-left: 40px;
                }
            }
            .advanced_table_booking {
                position: relative;
                text-align: left;
                grid-area: ad_booking;
                padding: 100px 90px 40px 100px;
                @media only screen and (max-width: 1195px) {
                    padding: 50px 40px 40px 40px;
                }
                @media only screen and (max-width: 554px) {
                    padding: 50px 16px 40px 32px;
                    margin-left: 26px;
                }
                h3 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 32px;
                    color: #2E266F;
                }
                p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 24px;
                    color: #707070;
                }
                .img1 {
                    position: absolute;
                    top: 40%;
                    left: 45%;
                    @media only screen and (max-width: 1195px) {}
                    @media only screen and (max-width: 554px) {
                        left: 58%;
                        img {
                            width: 80px;
                        }
                    }
                }
            }
            .img2 {
                position: absolute;
                top: 40%;
                left: -25%;
                transform: rotate(180deg);
                @media only screen and (max-width: 554px) {
                    // margin-right: 20px;
                    top: 42%;
                    left: -20%;
                }
                img {
                    width: 165px;
                    @media only screen and (max-width: 1195px) {
                        width: 110px;
                    }
                    @media only screen and (max-width: 554px) {
                        width: 70px;
                    }
                }
            }
        }
        .food_for_free {
            grid-area: fff;
            width: 160px;
            height: 58px;
            margin-top: 30%;
            position: relative;
            h3 {
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                color: #2E266F;
                text-align: right;
            }
            p {
                color: #707070;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                @media only screen and (max-width: 554px) {
                    width: 205px;
                }
            }
            .img1 {
                position: absolute;
                top: 59%;
                right: 30%;
            }
            .img2 {
                img {
                    width: 300px;
                    transform: rotate(180deg);
                }
                position: absolute;
                top: 60%;
                right: -370%;
                @media only screen and (max-width: 1195px) {
                    img {
                        width: 165px;
                    }
                    width: 150px;
                    right: -125%;
                }
                @media only screen and (max-width: 554px) {
                    left: 93%;
                    img {
                        transform: rotate(180deg);
                        width: 120px;
                    }
                }
            }
        }
        .table2 {
            @extend %box2;
            grid-area: table2;
            background-color: #FFEDDE;
            padding: 70px;
            @media only screen and (max-width: 1195px) {
                padding: 60px 40px 40px 40px;
                img {
                    width: 150px;
                }
            }
            @media only screen and (max-width: 554px) {
                padding: 50px 40px 40px 40px;
                // margin-right: 20px;
            }
        }
        .table3 {
            grid-area: table3;
            background-color: #FFEDDE;
            padding: 163px 174px 0px 174px;
            h3 {
                margin-top: 90px;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                color: #2E266F;
                @media only screen and (max-width: 1195px) {
                    margin-top: 50px;
                }
                @media only screen and (max-width: 554px) {}
            }
            p {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                color: #707070;
            }
            @media only screen and (max-width: 1195px) {
                // padding: 100px 40px 40px 40px;
                padding: 60px 40px 40px 40px;
                img {
                    width: 250px;
                }
            }
            @media only screen and (max-width: 554px) {
                margin-left: 3%;
            }
        }
    }
}